InputQuery (
    query: r#"
{
    LatestMetarReportForAirport(airport_code: "KBOS") {
        windSpeedKts @output
        windDirection @output
        windGustsKts @output
        temperature @output
        dewpoint @output

        cloudCover @fold {
            skyCover @output
            baseAltitude @output
        }
    }
}"#,
    args: {},
)
