InputQuery (
    query: r#"
{
    FrontPage {
        ... on Story {
            title @output
            url @filter(op: "is_not_null") @output
            score @output

            byUser {
                submitter: id @output
                submitter_karma: karma @output
            }
        }
    }
}"#,
    args: {},
)
