**/target
**/.vscode/
**/.cargo/
**/.idea/
**/localdata/
**/.ipynb_checkpoints/
**/package-lock.json
**/dist/
**/node_modules/

**/*.pyc
**/*.pyo
**/*.pyx
**/__pycache__/
**/trustfall.cpython-*.so
**/.pytest_cache/
