InputQuery (
    query: r#"
{
    Top(max: 50) {
        ... on Job {
            title @output
            url @filter(op: "is_not_null") @output
            score @output
        }
    }
}"#,
    args: {},
)
