<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript>
  <textarea id="query" rows="40" cols="80" placeholder="Enter your query here..." autofocus></textarea>
  <textarea id="schema" rows="40" cols="80" placeholder="Your generated schema will appear here..." readonly></textarea>
  <script src="./bootstrap.js"></script>
</body>

</html>
