InputQuery (
    query: r#"
{
    LatestMetarReportForAirport(airport_code: "KBOS") {
        wind_speed_kts @output
        wind_direction @output
        wind_gusts_kts @output
        temperature @output
        dewpoint @output

        cloud_cover @fold {
            sky_cover @output
            base_altitude @output
        }
    }
}"#,
    args: {},
)
