InputQuery (
    query: r#"
{
    MetarReport {
        station_id @output
        latitude @output
        longitude @output

        wind_speed_kts @output @filter(op: ">", value: ["$min_wind"])
        wind_direction @output
        wind_gusts_kts @output @filter(op: "is_not_null")
        temperature @output
        dewpoint @output

        cloud_cover @fold {
            sky_cover @output
            base_altitude @output
        }
    }
}"#,
    args: {
        "min_wind": Int64(25)
    },
)
