InputQuery (
    query: r#"
{
    MetarReport {
        stationId @output
        latitude @output
        longitude @output

        windSpeedKts @output
                     @filter(op: ">", value:["$min_wind"])
        windDirection @output
        windGustsKts @output
                     @filter(op: "is_not_null")
        temperature @output
        dewpoint @output

        cloudCover @fold {
            skyCover @output
            baseAltitude @output
        }
    }
}"#,
    args: {
        "min_wind": Int64(25)
    },
)
