[tool.poetry]
name = "pytrustfall"
version = "0.0.0"  # Cargo.toml is authoritative, not this
description = "Python bindings for trustfall."
authors = ["Predrag Gruevski <obi1kenobi82@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
maturin = "^0.12.5"
pytest = "^6.2.5"
black = "^21.12b0"
jupyterlab = "*"

[tool.black]
line-length = 100

[build-system]
requires = ["maturin>=0.12.5", "poetry-core>=1.0.0"]
build-backend = "maturin"
