InputQuery (
    query: r#"
{
    Feed {
        id @output
        feed_type @output

        title_: title {
            src @output
            content @output
            content_type @output
        }

        links_: links @fold {
            title @output
            href @output
        }
    }
}"#,
    args: {},
)
