name: Publish Rust crate

on:
  workflow_call:
    inputs:
      crate-name:
        required: true
        type: string
    secrets:
      CARGO_REGISTRY_TOKEN:
        required: true

concurrency:
  group: publish-rust

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  # The below settings are based on advice from:
  # https://corrode.dev/blog/tips-for-faster-ci-builds/
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    needs:
      - should-publish
      - pre-publish-checks
    if: needs.should-publish.outputs.is_new_version == 'yes' && github.ref == 'refs/heads/main'
    permissions:
      id-token: write     # Required for OIDC token exchange (Trusted Publishing)
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: true

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false

      # For Trusted Publishing:
      # https://crates.io/docs/trusted-publishing
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Tag the version
        run: |
          set -euxo pipefail
          CURRENT_VERSION="$(.github/workflows/get_current_crate_version.sh ${{ inputs.crate-name }})"
          export CURRENT_VERSION
          git tag "${{ inputs.crate-name }}-v$CURRENT_VERSION"
          git push origin "${{ inputs.crate-name }}-v$CURRENT_VERSION"

      - name: Publish
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
        run: cargo publish -p "${{ inputs.crate-name }}"

  should-publish:
    name: Did version change
    runs-on: ubuntu-latest
    outputs:
      is_new_version: "${{ steps.check.outputs.is_new_version }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - id: check
        run: |
          set +e
          .github/workflows/is_crate_version_already_uploaded.sh ${{ inputs.crate-name }}
          export EXIT_CODE="$?"
          set -e
          if [[ "$EXIT_CODE" == "7" ]]; then
            echo 'is_new_version=no' >> "$GITHUB_OUTPUT"
          elif [[ "$EXIT_CODE" == "0" ]]; then
            echo 'is_new_version=yes' >> "$GITHUB_OUTPUT"
          else
            # Unexpected outcome, indicates a bug.
            exit "$EXIT_CODE"
          fi

  pre-publish-checks:
    name: Semver
    runs-on: ubuntu-latest
    needs:
      - should-publish
    if: needs.should-publish.outputs.is_new_version == 'yes'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          package: "${{ inputs.crate-name }}"
